
@media screen and (max-width: 1200px) {
    .conteiner-card {
        width: 100%;
    }
    .cardsContainer {
        width: 100%;
        
    }
}

@media screen and (max-width: 942px) {
    .card {
        width: 250px;
        height: 500px;
    }
    .cardInput {
        max-height: 100px;
    }
    .addToCart {
        font-size: 13px!important;
    }
    .viewMore-navLink {
        font-size: 13px;
    }
}

@media screen and (max-width: 789px) {
    .card {
        font-size: 13px;
        width: 180px;
        height: 320px;
    }
    .cardInput {
        display: none;
    }
    .cardsContainer {
        justify-content: space-evenly;
        flex-wrap: wrap!important;
        margin-left: 0!important;
    }
    .conteiner-card {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .cardProduct {
        margin: 2vw;
        width: 180px;
        height: 320px;
    }
    .search {
        width: 95vw!important;
    }
}

@media screen and (max-width: 583px) {
    .conteiner-card {
        padding-left: 15%;
    }
    .card {
        margin: 5vh 5vw 0 0;
    }
    .containerP h4 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 509px) {
    .card {
        width: 250px;
        height: 385px;
    }
    .conteiner-card {
        padding: 0 10%;
        justify-content: center;
    }
    .card {
        margin-top: 2vh;
        margin-right: 0;
    }
    .search {
        height: 55px!important;
    }
}

